@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffc017;
  display: flex;
  justify-content: center;
  height: 10vh;
  border-bottom: 1px solid #191919;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 0.5s;
}

.headerChange {
  background-color: #fff;
}

header div {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #191919;
  font-size: 0.7rem;
}

.special {
  background-color: #191919;
  color: #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 20px;
  border: none;
  transition: all 0.5s;
}

.specialChange {
  background-color: green;
  color: #fff;
}

.hero {
  background-color: #ffc017;
  height: 90vh;
  border-bottom: 1px solid #191919;
  display: flex;
  justify-content: center;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

h1 {
  font-family: "Spectral", sans;
  font-size: 6rem;
}

.hero div p {
  margin-top: 2rem;
}

.hero div button {
  margin-top: 2rem;
  background-color: #191919;
  color: #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 20px;
  border: none;
  width: 10rem;
  cursor: pointer;
}

/* stile per img */

#m {
  position: absolute;
  right: 0;
  top: 45px;
}

/* stile for svg */
/* #m {
  position: absolute;
  right: -294px;
} */

.trendContainer {
  margin-top: 2rem;
  border-bottom: 1px solid #e1e0e0;
  display: flex;
  justify-content: center;
}

.trending {
  width: 80%;
}

.trendingTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.singleTrends {
  display: flex;
  flex-wrap: wrap;
}

.trend {
  width: 33%;
  display: flex;
  gap: 1rem;
  height: 8rem;
}

.trendNumber {
  color: #e1e0e0;
  font-size: 2rem;
  font-weight: 600;
}

.trendingAuthor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.trendingAuthor img {
  border-radius: 50%;
  width: 20px;
}

.trendText p {
  font-size: 0.7rem;
  font-weight: 300;
}

.trendingAuthor p {
  font-size: 0.7rem;
  font-weight: 600;
}

.trendText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trendText h4 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.articles {
  display: flex;
  justify-content: center;
}

#newsAndSidebar {
  width: 80%;
  display: flex;
  margin-top: 4rem;
  gap: 2rem;
  align-items: flex-start;
}

.news {
  flex: 1;
}

.singleArticle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.articleImg {
  width: 30%;
  margin-left: 1rem;
}

.articleAuthor {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.authorPic {
  width: 20px;
  border-radius: 50%;
}

.articleText h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.description {
  margin-top: 0.5rem;
  color: gray;
}

.info {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.category {
  border-radius: 20px;
  background-color: #ece9e9;
  padding: 0 0.3rem;
  color: gray;
}

.info img {
  width: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 12vh;
  align-self: flex-start;
  width: 30%;
}

.topHalf h3 {
  margin-bottom: 1rem;
}

.topHalf button {
  padding: 0.3rem 0.7rem;
  border: 1px solid gray;
  color: gray;
  background-color: #fff;
  margin-block: 0.2rem;
  cursor: pointer;
}

.lowerHalf {
  border-top: 1px solid #e1e0e0;
  margin-top: 1rem;
  padding-top: 1rem;
  line-height: 2rem;
}

.lowerHalf a {
  color: gray;
  text-decoration: none;
  margin: 1rem;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  header > div > nav > a:nth-of-type(1),
  a:nth-of-type(2),
  a:nth-of-type(3) {
    display: none;
  }

  #m {
    display: none;
  }

  .trend {
    width: unset;
  }

  #newsAndSidebar {
    flex-direction: column-reverse;
  }

  .articleImg {
    object-fit: cover;
    width: 22%;
  }

  .sidebar {
    width: 100%;
    position: inherit;
  }
}

@media screen and (min-width: 575px) and (max-width: 800px) {
  #m {
    display: none;
  }

  .trend {
    width: 50%;
  }

  #newsAndSidebar {
    flex-direction: column-reverse;
  }

  .sidebar {
    width: 100%;
    position: inherit;
  }
}
